@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --h1-desktop-size: 3rem;
    --h1-mobile-size: 2.5rem;
    --h2-desktop-size: 2.5rem;
    --h2-mobile-size: 2rem;
    --h3-desktop-size: 2rem;
    --h3-mobile-size: 1.5rem;
    --h4-desktop-size: 1.5rem;
    --h4-mobile-size: 1.25rem;
    --h5-desktop-size: 1rem;
    --h5-mobile-size: 0.875rem;
    --h6-desktop-size: 0.875rem;
    --h6-mobile-size: 0.675rem;
    --p-desktop-size: 1rem;
    --heading-font-weight: 600;
    --body-font-weight: 400;
    --primary-color: #041626;
    --secondary-color: #031525fc;
    --teritory-color: #0d2136;
    --primary-button: #ffc800;
    --secondary-button: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--heading-font-weight) !important;
}

h1 {
    font-size: var(--h1-desktop-size) !important;
}

h2 {
    font-size: var(--h2-desktop-size) !important;
}

h3 {
    font-size: var(--h3-desktop-size) !important;
}

h4 {
    font-size: var(--h4-desktop-size) !important;
}

h5 {
    font-size: var(--h5-desktop-size) !important;
}

h6 {
    font-size: var(--h6-desktop-size) !important;
}

p {
    font-size: var(--p-desktop-size) !important;
    font-weight: var(--body-font-weight) !important;
}

a {
    text-decoration: none;
}

.bg--primary {
    background-color: var(--primary-color) !important;
}

.bg--secondary {
    background-color: var(--secondary-color) !important;
}

.bg--teritory {
    background-color: var(--teritory-color) !important;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: var(--h1-mobile-size) !important;
    }

    h2 {
        font-size: var(--h2-mobile-size) !important;
    }

    h3 {
        font-size: var(--h3-mobile-size) !important;
    }

    h4 {
        font-size: var(--h4-mobile-size) !important;
    }

    h5 {
        font-size: var(--h5-mobile-size) !important;
    }

    h6 {
        font-size: var(--h6-mobile-size) !important;
    }
}

/* auth page */

.auth-bg {
    background-image: url('../../public/images/auth.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.detailed-page {
    height: 100vh;
}

.primary-btn {
    background-color: var(--primary-button) !important;
}

.secondary-btn {
    background-color: var(--secondary-button) !important;
    font-weight: 600 !important;
    color: #000 !important;
    font-size: 1rem !important;
}

.det-form-container {
    border: 1px solid #ffffff1c;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
    .detailed-page {
        height: auto;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
}

.dashboard-layout-wrapper {
    background-color: var(--secondary-color) !important;
    padding: 2rem;
}

.dashboard-layout-wrapper .dashboard-layout-container {
    padding: 0 !important;
}

.sidebar {
    height: 100%;
    border: 1px solid #ffffff1c;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
}

.author-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.author-box .circle {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.author-box .circle img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dashboard-container {
    background-color: var(--primary-color);
    border-radius: 1rem;
    height: 100%;
}

.tab-container {
    border-bottom: 1px solid #ffffff1c;
    display: flex;
    gap: 1rem;
}

.tab-container .tab {
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.tab-container .tab.active {
    border-bottom: 1px solid #fff;
}

.dashboard-container {
    height: 91.2vh !important;
}

.dataTable {
    border: 1px solid #ffffff40;
    padding: 1rem;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .dashboard-layout-wrapper {
        padding: 1rem;
    }

    .dashboard-container {
        height: auto !important;
    }

    .dashboard-layout-wrapper {
        margin-top: 4.4rem;
    }

    header nav .drawer {
        height: 89.5vh;
        width: 100%;
        position: absolute;
        top: 99%;
        left: 0;
        z-index: 1000;
        transform: translateX(-100%);
        transition: all 0.5s ease;
    }

    header nav .drawer.open {
        transform: translateX(0);
    }

    header nav .drawer.open .sidebar {
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    header nav .drawer.open .sidebar .author-box {
        display: none;
    }
}